<%- include('partials/header') %>

<title>NOTES</title>
<link rel="stylesheet" href="/public/stylesheet/notes.css">
</head> 
<body>


  
<%- include('partials/navbar') %>

<div class="container">
<div class="row mb-5">


          <% files.forEach(function(file){ %>
              <!--Grid column-->
              <div class="col-lg-6 col-md-12">

            <p class="notesname"><%= file.name %> </p>
            <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go set-padding-cicis-menu-to-go set-border-cicis-menu-to-go set-box-shadow-cicis-menu-to-go center-block-horiz">
              <div class="responsive-wrapper 
                 responsive-wrapper-padding-bottom-90pct"
                 style="-webkit-overflow-scrolling: touch; overflow: auto;">
                 <iframe src="/upload/<%=file.fname%>">

                </iframe>

                        
              </div>
            </div>
                <a class="btn btn-lg btn-primary" href="/upload/<%=file.fname%>" download="<%=file.fname%>">Download File</a>
                            <% if(user&&user.admin) {%>    
                                    <form action="/delete/notes/<%=file._id%>/<%=file.fname%>?_method=delete" method="post">
                                           <button class="btn btn-lg btn-danger">Delete file</button>
                                    </form>
                            <% } %>

              </div>
            <%  }) %>
              



    </div>
</div>



    <section>This is used to make page to cover full page otherwise footer not be at end , As content is not placed till now. We will remove it afterwards.</section>

<%- include('partials/footer') %>

                                                                                    