<%- include('partials/header') %>

<title>NOTES</title>
<link rel="stylesheet" href="/public/stylesheet/notes.css">
</head>
<body>



<%- include('partials/navbar') %>


<center>

<div class="container" style="margin-left:450px">

<div class="row mb-5">


          <% files.forEach(function(file){ %>
              <!--Grid column-->
              <div class="col-lg-6 col-md-12">

            <p class="notesname" style="color:black;font-size:25px;text-shadow:2px 1px 1px grey"><%= file.fieldname %> </p>
            <div id="Iframe-Cicis-Menu-To-Go" class="set-margin-cicis-menu-to-go set-padding-cicis-menu-to-go set-border-cicis-menu-to-go set-box-shadow-cicis-menu-to-go center-block-horiz">
              <div class="responsive-wrapper
                 responsive-wrapper-padding-bottom-90pct"
                 style="-webkit-overflow-scrolling: touch; overflow: auto;">
                 <iframe src="/upload/<%=file.fname%>">

                </iframe>


              </div>
            </div>
                <a class="btn btn-lg btn-primary" href="/upload/<%=file.fname%>" download="<%=file.fname%>">Download File</a><br /><br />
                            <% if(user&&user.admin) {%>
                                    <form action="/delete/notes/<%=file._id%>/<%=file.fname%>?_method=delete" method="post">
                                           <button class="btn btn-lg btn-danger">Delete file</button>
                                    </form>
                            <% } %>

              </div>
            <%  }) %>



    </div>


</div>

              </center>


    <section></section>

<%- include('partials/footer') %>
