<%- include('partials/header') %>
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
<title>Videos</title>

<link rel="stylesheet" href="/public/stylesheet/videos.css">
</head>
<body>



<%- include('partials/navbar') %>




 <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>



  <!--Grid row-->
<center>
  <div class="container videom">



    <h1> VIDEO LECTURES</h1>

<br /><br />
<div class="row mb-5">

	<% videos.forEach(function(video){ %>
  <!--Grid column-->
  <div class="col-lg-4 col-md-12" style="margin-left:400px">

    <p class="h5 mb-4" style="color:black;font-size:45px;text-shadow:2px 1px 1px grey"><%= video.name %></p>
</br></br>

    <div class="embed-responsive embed-responsive-16by9 z-depth-1">

        <iframe class="embed-responsive-item" height="101%" src="<%=video.vLink%>" frameborder="3px" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br /><br />
			<% if(user&&user.admin) {%>
                                    <form action="/delete/video/<%=video._id%>?_method=delete" method="post">
                                           <button class="btn btn-lg btn-danger">Remove Video</button>
                                    </form>
                            <% } %>




  </div>
     <%  }) %>
  <!--Grid column-->



</div>
  <!--Grid row-->

</div>
</center>




    <section></section>

<%- include('partials/footer') %>
